:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
}

* {
    box-sizing: border-box;
}

html {
    background-color:rgb(19, 19, 19) ;
    font-size: 62.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(214, 214, 214);
    text-align: center;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.navegacion-principal {
    width: 100%;
    background-color: #1a1a1a; /* Fondo oscuro */
    display: flex;
    justify-content: space-around; /* Espacio entre los elementos */
    align-items: center; /* Alinear verticalmente */
    position: sticky;
    top: 0;
    margin: 0;
    border-bottom: 2px solid #00ffcc; /* Borde inferior cian brillante */
    font-family: 'Fira Code', monospace; /* Fuente tecnológica */
    padding: 10px; /* Espacio interno */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #00ffcc;
    font-size: 24px;
    cursor: pointer;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    padding: 10px 20px; /* Espacio alrededor del texto */
    text-decoration: none;
    color: #00ffcc; /* Color de enlace cian brillante */
    border: 2px solid transparent; /* Sin borde inicialmente */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.nav-list a:hover {
    background-color: #00ffcc; /* Fondo cian al pasar el mouse */
    color: #1a1a1a; /* Texto oscuro en hover */
    border-color: #00ffcc; /* Bordes cian en hover */
}

@media (max-width: 480px) {
    .navegacion-principal {
        justify-content:space-between; /* Espacio entre los elementos */
        position: relative;
    }

    .menu-toggle {
        display: block; /* Mostrar el botón de menú en pantallas pequeñas */
    }

    .nav-list {
        display: none; /* Ocultar el menú por defecto */
        flex-direction: column; /* Alinear verticalmente */
        width: 100%;
        position: absolute;
        top: 60px; /* Ajustar según la altura del botón */
        left: 0;
        background-color: #1a1a1a;
    }

    .nav-list.show {
        display: flex; /* Mostrar el menú desplegable cuando se activa */
    }

    .nav-list a {
        padding: 15px; /* Ajustar el padding en el menú desplegable */
        text-align: center; /* Centrar el texto en el menú desplegable */
    }
}



h1 {
    font-size: 2rem;
    text-align: center;
}

h1 span {
    font-size: 1rem;
}

.hero{
    padding-block: 60px;
    background-image: url(../img/background-title.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    position: relative;
}

.contenido-hero{
    position: absolute;
    padding: 1px; /* fix borde */
    background: linear-gradient(to bottom, rgba(19, 19, 19, 0.3) 40%, rgb(19, 19, 19) 100%);top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2{
    color: #FFFFFF;
    padding-inline: 10px;
}



main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Centra el contenido de texto en la sección */
}

main h2 {
    color: #00ffcc; /* Color cian brillante */
    font-family: 'Fira Code', monospace; /* Fuente tecnológica */
    margin-bottom: 5px;
}

main p {
    color: #ddd; /* Texto en gris claro */
    font-family: 'Fira Code', monospace;
    margin-bottom: 20px; /* Espacio entre "Mendoza, Argentina" y las secciones */
}

main .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main section {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #00ffcc; /* Texto cian brillante */
    border: 2px solid #00ffcc; /* Borde cian */
    padding: 20px;
    margin: 10px;
    border-radius: 8px; /* Bordes redondeados */
    flex: 1;
    transition: transform 0.3s ease;
    font-family: 'Fira Code', monospace; /* Fuente tecnológica */
    text-align: center; /* Centrar texto dentro de las secciones */
}

main section h3 {
    margin-bottom: 10px;
    font-size: 18px; /* Tamaño de fuente más grande para los encabezados */
}

main section svg {
    display: block;
    margin: 0 auto 15px; /* Espacio entre el ícono y el texto */
}

main section p {
    color: #eeeeee; /* Texto en gris claro para mayor contraste */
    line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
    font-size: 16px; /* Tamaño de fuente adecuado */
    margin: 0; /* Quitar margen para mejor ajuste */
}


main section:hover {
    transform: translateY(-5px); /* Efecto hover */
}

.services-container section {
    width: 30%; /* Sección ocupa 30% del ancho */
}

@media (max-width: 768px) {
    .services-container section {
        width: 45%; /* Sección ocupa 45% en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .services-container {
        flex-direction: column;
    }

    .services-container section {
        width: 100%; /* Sección ocupa 100% en pantallas pequeñas */
    }
}





.boton {
    display: inline-block;
    padding: 10px 20px; /* Tamaño más pequeño */
    background-color: #1a1a1a; /* Color oscuro */
    color: #00ffcc; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-size: 14px; /* Fuente más pequeña */
    border-radius: 4px;
    border: 2px solid #00ffcc; /* Borde cian brillante */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-family: 'Fira Code', monospace; /* Fuente moderna con estilo tecnológico */
}

.boton:hover {
    background-color: #00ffcc; /* Cambia el fondo en hover */
    color: #1a1a1a; /* Texto oscuro en hover */
    border-color: #00ffcc;
}

.boton:active {
    background-color: #1a1a1a; 
    color: #00ffcc;
    transform: scale(0.97); /* Sutil efecto de clic */
}

footer {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #eeeeee; /* Texto en gris claro */
    padding: 20px;
    text-align: center;
    border-top: 2px solid #00ffcc; /* Borde superior cian brillante */
    font-family: 'Fira Code', monospace; /* Fuente tecnológica */
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer fieldset {
    border: 2px solid #00ffcc; /* Borde cian */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px;
    width: 100%;
    max-width: 500px; /* Máximo ancho del formulario */
    position: relative;
}

footer legend {
    position: absolute;
    top: -12px; /* Ajustar según el tamaño del borde */
    left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
    background-color: #1a1a1a; /* Fondo del borde */
    padding: 0 10px; /* Espacio alrededor del texto */
    font-size: 18px; /* Tamaño de fuente mayor para el encabezado */
    color: #00ffcc; /* Color de texto cian brillante */
    text-align: center; /* Centrar el texto */
}


footer .instructions {
    margin-bottom: 15px;
    color: #eeeeee; /* Texto en gris claro */
    font-size: 16px; /* Tamaño de fuente adecuado */
}

footer div {
    margin-bottom: 15px;
    width: 100%;
}

footer label {
    display: block;
    margin-bottom: 5px;
    color: #00ffcc; /* Color de texto cian brillante */
}

footer input[type="text"],
footer input[type="tel"],
footer input[type="email"],
footer textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #00ffcc; /* Borde cian */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #212121; /* Fondo oscuro */
    color: #eeeeee; /* Texto en gris claro */
    font-family: 'Fira Code', monospace; /* Fuente tecnológica */
}

footer textarea {
    height: 100px; /* Altura del textarea */
}

footer input[type="submit"] {
    background-color: #00ffcc; /* Fondo cian */
    color: #1a1a1a; /* Texto oscuro */
    border: none;
    padding: 10px 20px;
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

footer input[type="submit"]:hover {
    background-color: #00b3a6; /* Fondo cian más oscuro al pasar el mouse */
}

footer p {
    margin-top: 20px;
    font-size: 14px;
}
